/* This is an example of how to import a partial scss file*/
@import '_variables';

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body {
  background: $primary-background;
}
